name: "publish"
namespace: "io"
description: "Publish the processed results of the run"
argument_groups:
  - name: Input arguments
    arguments:
      - name: --input
        description: Directory to write fastq data to
        type: file
        required: true
      - name: "--input_sample_qc"
        description: Directory to write sample QC output to
        type: file
        required: true
        multiple: true
      - name: "--input_multiqc"
        description: Location where to write the MultiQC report to.
        type: file
        required: true
      - name: "--input_run_information"
        description: "Location where to write the run information to."
        type: file
        required: true
      - name: "--input_demultiplexer_logs"
        type: file
        required: true
      - name: "--input_demultiplex_params"
        type: file
        required: true
  - name: Output arguments
    arguments:
      - name: --output
        type: file
        direction: output
        default: "fastq"
      - name: --output_sample_qc
        type: file
        direction: output
        default: "qc/fastqc"
      - name: --output_multiqc
        type: file
        direction: output
        default: "qc/multiqc_report.html"
      - name: --output_run_information
        type: file
        direction: output
        default: run_information.csv
      - name: "--output_demultiplexer_logs"
        type: file
        direction: output
        default: "demultiplexer_logs"
      - name: "--output_demultiplex_params"
        type: file
        direction: output
        default: "params.yaml"

resources:
  - type: bash_script
    path: ./code.sh

engines:
  - type: docker
    image: debian:stable-slim
    setup:
      - type: apt
        packages:
          - procps

runners:
  - type: executable
  - type: nextflow
